/* style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  #game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  canvas {
    border: 1px solid #000;
    background-color: #e5e5e5;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    width: 850px;
    height: 350px;
  }