body {
    margin: 0;
    height: 100vh;
    display: flex;
    font-family: 'Fortnite', sans-serif;
    overflow: hidden;
}

.game-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

#puppet {
    background-color: #E82C40;
    flex: 1;
}

#gizmo {
    background-color: #89DF6F;
    flex: 1;
}

.versus-container {
    position: fixed;
    top: calc(50% - 3rem);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.versus-svg {
    width: 50vh;
    opacity: 0;
    transform: scale(0.5);
    animation: scaleUp 1s forwards;
}

@keyframes scaleUp {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.play-button {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2.5rem;
    font-family: 'Fortnite', sans-serif;
    font-size: 40px;
    background-color: transparent;
    padding: 8vh 65px 4vh 65px;
    text-align: center;
    text-shadow: 
            0px 1px 0px #640D0D,
            0px 2px 0px #640D0D,
            0px 3px 0px #640D0D,
            0px 4px 0px #640D0D;
    -webkit-text-stroke: 1px white;
    z-index: 101;
}

.play-button::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 95%;
    background-color: #ffffff;
    z-index: -1;
    transform: skewY(-5deg);
}

.play-button:active {
    transform: translateX(-50%) scale(0.95);
    transition: transform 0.1s ease;
}

.character {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 5vh;
    gap: 2vh;
    box-sizing: border-box;
}

.character h3 {
    margin: 0;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 
            0px 1px 0px #640D0D,
            0px 2px 0px #640D0D,
            0px 3px 0px #640D0D,
            0px 4px 0px #640D0D;
    opacity: 0;
    animation: fadeIn 1s forwards 0.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.character img {
    height: 90%;
    opacity: 0;
    transform: translateY(20px);
    animation: floatUp 1s forwards;
}

@keyframes floatUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.not-supported {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 100vh;
    width: 100vw;
    font-size: 50px;
    background-color: #E82C40;
    color: #ffffff;
    font-family: 'Fortnite', sans-serif;
    text-shadow: 
            0px 1px 0px #640D0D,
            0px 2px 0px #640D0D,
            0px 3px 0px #640D0D,
            0px 4px 0px #640D0D;
}

.select-container {
    position: fixed;
    top: calc(50% - 1rem);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.select-svg {
    width: 80vh;
    opacity: 0;
    transform: scale(0.5);
    animation: scaleUp 1s forwards;
}

.selector-body {
    background: linear-gradient(135deg, #E82C40 50%, #89DF6F 50%);
}

@font-face {
    font-family: 'Fortnite';
    src: url('fonts/fortnite.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (orientation: portrait) {
    .game-container {
        display: none;
    }
    .rotate-message {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        font-size: 50px;
        background-color: #E82C40;
        color: #ffffff;
        font-family: 'Fortnite', sans-serif;
        text-shadow: 
            0px 1px 0px #640D0D,
            0px 2px 0px #640D0D,
            0px 3px 0px #640D0D,
            0px 4px 0px #640D0D;
        height: 100vh;
        width: 100vw;
    }
}

@media screen and (orientation: landscape) {
    .rotate-message {
        display: none;
    }
}

.back-button {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 102;
}

.back-button img {
    width: 25vh;
}

.character-select-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 10vw;
}

.character-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.character-selector img {
    width: 40vh;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateY(20px);
    animation: floatUp 1s forwards 0.5s;
}

.character-selector h3 {
    font-size: 3rem;
    margin: 0;
    color: #ffffff;
    text-shadow: 
            0px 1px 0px #640D0D,
            0px 2px 0px #640D0D,
            0px 3px 0px #640D0D,
            0px 4px 0px #640D0D;
    opacity: 0;
    animation: fadeIn 1s forwards 0.7s;
}

.character-description {
    font-size: 1.5rem;
    margin: 0;
    color: #000000;
    opacity: 0.25;
    opacity: 0;
    animation: fadeInDescription 1s forwards 0.9s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeInDescription {
    to {
        opacity: 0.25;
    }
}

@keyframes floatUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.back-button:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.enemy-select-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 5vw 0 15vw;
    gap: 5rem;
}

.player-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
    text-shadow: 
            0px 1px 0px #640D0D,
            0px 2px 0px #640D0D,
            0px 3px 0px #640D0D;
}

.enemy-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enemy-selector img {
    width: 35vh;
    margin-bottom: 0.5rem;
}

.enemy-selector h3 {
    font-size: 2rem;
    margin: 0;
    color: #ffffff;
    text-shadow: 
            0px 1px 0px #640D0D,
            0px 2px 0px #640D0D,
            0px 3px 0px #640D0D;
}

.player-description {
    font-size: 1rem;
    margin: 0;
    color: #000000;
    opacity: 0.25;
}

.puppet-body {
    background-color: #E82C40;
}

.enemy-selector h4.player-text {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s forwards 0.3s;
}

.enemy-selector img {
    opacity: 0;
    transform: translateY(20px);
    animation: floatUp 1s forwards 0.5s;
}

.enemy-selector h3 {
    opacity: 0;
    transform: translateY(20px);
    animation: floatUp 1s forwards 0.7s;
}

.player-description {
    opacity: 0;
    transform: translateY(20px);
    animation: floatUpDescription 1s forwards 0.9s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes floatUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes floatUpDescription {
    to {
        opacity: 0.25;
        transform: translateY(0);
    }
}

.victims-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.victims-container h2 {
    font-size: 3rem;
    margin: 0 0 1rem 0;
    background: linear-gradient(#F3F303 00%, #FB0101 25%, #000000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .75px white;
    animation: slideUpFadeIn 1s ease-out forwards;
}

.victim-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.victim-selector-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInScale 0.5s ease-out forwards;
    animation-delay: calc(0.5s + var(--animation-delay));
}

.victim-selector-item-image {
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url('img/square_gizmo.png');
    background-size: cover;
    background-position: center;
    width: 20vh;
    height: 20vh;
    margin-top: 0.25rem;
}

.victim-placement {
    font-size: .75rem;
    margin: 0 0 0.25rem 0;
    color: #ffffff;
    width: 100%;
    text-align: center;
    background-color: #941320;
    border-radius: 10px;
    box-shadow: 0px 1px 0px #640D0D, 0px 2px 0px #640D0D;
}

.victim-selector-item h3 {
    font-size: 1rem;
    margin: 0;
    color: #ffffff;
    text-shadow: 
            0px 1px 0px #640D0D,
            0px 2px 0px #640D0D,
            0px 3px 0px #640D0D;
}

.victim-description {
    font-size: 1rem;
    margin: 0.5rem 0 0 0;
    color: #000000;
    opacity: 0.25;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes textFadeInScale {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideUpFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.victim-selector-item-image-gizmo {
    display: flex;
    align-items: end;
    justify-content: center;
    background-size: cover;
    background-position: center;
    width: 20vh;
    height: 20vh;
    margin-top: 0.25rem;
    background-image: url('img/square_puppet.png');
}

.gizmo-body {
    background-color: #89DF6F;
}

